
@font-face {
  font-family: 'SBAggroM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 300;
  /* font-style: normal; */
}

.header {
    background-color: #333;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 2px;
    font-family:SBAggroM;
  }
  
  nav{
    display: flex; /* 자식 요소들을 가로로 배치 */
    justify-content: space-between; /* 좌우 간격을 일정하게 분배 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%;
  }

  .header .logo img {
    cursor: pointer;
    height: 40px;
  }


  .header .HeaderUl {
    list-style: none;
    display: flex;
    gap: 1rem;
    /* background-color: aqua; */
    cursor: pointer;
    margin-left: auto;
    padding: 0;
    font-size: 13px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #aaa;
  }
  
  body{
    
  }