.main-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}

/* 비디오 구역 */
.video-section {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.roadmap {
  position: relative;
}
.roadmap img {
  width: 100%;
  height: auto;
}
.video-button {
  position: absolute;
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.categories button {
  margin: 5px;
}
.difficulty-nav span {
  margin: 5px;
  cursor: pointer;
}

/* 유저 구역 */
.user-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.lower-section {
  margin-top: auto;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}