.video-page {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
  }
  
  .video-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  
  .video-header .logo img {
    cursor: pointer;
    height: 40px;
  }
  
  .video-header .search-bar {
    display: flex;
    align-items: center;
  }
  
  .video-header .search-bar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px 0 0 3px;
    width: 300px;
  }
  
  .video-header .search-bar button {
    padding: 8px;
    border: none;
    background-color: #0073e6;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
    padding: 20px;
  }
  
  .video-content {
    flex: 2;
    margin-right: 0px;
  }
  
  .video-player iframe,
  .video-player video {
    width: 90%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .video-info {
    margin-top: 20px;
  }
  
  .video-info .video-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .video-info .video-description {
    font-size: 16px;
    color: #666;
  }
  
  .related-videos {
    flex: 0.8;
    margin-left: 0; /* 왼쪽 여백 제거 */
  }
  
  .related-videos h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .related-videos ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .related-videos li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .related-videos img {
    width: 195px;
    height: 110px;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover; /* 이미지의 검은 여백을 제거 */
  }
  
  
  .related-videos span {
    font-size: 16px;
    color: #555;
    flex: 1;
  }
  